:root { /*my custom variables*/
    --dark-background:#1f2937;
    --link-color:#e5e7eb;
    --logo-color:#f9faf8;
    --btn-color:#3883f6;
    --header-text:#1f2937;
    --quote:#e5e7eb;
    --quote-text:#1f2937;
    --mobile :578px;
}


*, html, body { /*Css resets*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--logo-color);
    font-weight: 900;
}

img { /*setting the width 100% globally*/
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-color);
}
/* resets ends here */


html, body {  /*setting up the width & height according to the viewport*/
    width: 100%;
    min-height:100vh ;
}

body {
    background: rgba(255, 255, 255, 0.767);
    font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}

header.headings {
    background-color: var(--dark-background);
    padding: 1rem;
}

/* Start Of Nav-Bar */
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

 .nav-items {
    transform: translateY(-100vh);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-background);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    transition: all 600ms ease-in-out;
}

.nav-items > li {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}


.logo {
    color: var(--logo-color);
    font-size:1.5rem ;
    font-weight: bold;
}

/* hamburger__menu using vanilla css , coz i still didn't learn javascript */
.hamburger__box, .hamburger__menu {
    position: absolute;
    width: 28px;
    height: 20px;
    right: 1rem;
    cursor: pointer;
}

.hamburger__box {
    z-index: 3;
    opacity: 0;
}

.hamburger__menu {
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

.hamburger__menu > span.hamburger__line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 500ms ease-in;
    border-radius: 10px;
}

.hamburger__box:checked ~ .nav-items {
    transform: translateY(0);    
}

.hamburger__box:checked ~ .hamburger__menu > .line__1 {
    transform: rotate(45deg) translate(4px, 5px);
}

.hamburger__box:checked ~ .hamburger__menu > .line__2 {
     opacity: 0;
     display: none;
}

.hamburger__box:checked ~ .hamburger__menu > .line__3 {
    transform: rotate(-45deg) translate(2px, -3px);
}

/* end of hamburger__menu */
h1.hero-main-text {
    font-size: 3rem ;
    margin: 3rem 0;
}

.secondary-text {
    font-size: 1.125rem;
    color: var(--link-color);
}

.btn {
    width: 110px;
    max-width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background: var(--btn-color);
    color: var(--link-color);
    font-weight: 900;
    cursor: pointer;
    margin: 1rem 0;
}
main {
    text-align: center;
}

.random-img-container {
   display: flex;
   flex-flow: row wrap;
  gap: .5rem;
}

.blue-mask {
    width: 45%;
    margin: 0.5rem auto;
}

.random-img-container img {
    border-radius: 10px;
}


.container-quote {
    background-color: var(--quote);
    padding: 10%;
}

.product-signup {
    background-color: var(--btn-color);
    width: 70%;
    margin: 10% auto;
    border-radius: 10px;
    padding: 10px;
    color: var(--link-color);
}

.product-signup .btn {
    border: 2px solid var(--logo-color);
}

.quote p {
    font-style: italic;
    font-weight: 100;
    margin: 1rem 0;
    }

/* footer section starts here  */
footer {
    background-color: var(--dark-background);
    padding: 4rem;
    color: var(--link-color);
}

@media screen and (min-width:768px) {

    header.headings {
        padding: 5rem;
    }

    .nav-items {
        transform: translateY(0);
        position: initial;
        width: unset;
        height: unset;
        flex-direction: row;
    }

    .nav-items > li > a:hover {
        color: orangered;
        border-bottom: 1px solid orange;
    }

    .hamburger__box, .hamburger__menu{
        display: none;
    }

    .main-title {
        display: flex;
        flex-flow: row wrap;
    }

    .main-title div, img {
        width: 50%;
        flex: 0 1 auto;
    }    

    .main-title {
        padding: 5rem 0;
    }
     
    .main-title div:first-child {
        display: flex;
        flex-direction: column;
        padding-right: clamp(0rem, 8vw, 8rem);
        justify-content: center;
    }
    
    h1.hero-main-text {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 1;
    }

    .nav--links {
        font-size: 0.9rem;
    }

    .product-signup {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
    }
    
    .container-signup {
        text-align: left;
    }

    .random-img-container {
        margin: 2.5rem auto;
        width: 50%;
        flex-wrap: nowrap;
    }

    .blue-mask {
        width: unset;
    }

    .quote p {
    font-size: 2.25rem;
    }
}